.semestre.is-clearable {
    padding-right: 0px;
    padding-left: 0px
}

.phone-number .form-control{
    width: 100% !important;
}

.creation-type-card{
    height: 200px;
    position: relative;
    cursor: pointer;
}

.hover-red :hover{
    background: #ff0000ad !important;
    opacity: 0.8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}
.hover-blue :hover{
    background: #007bff !important;
    opacity: 0.8;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}
.hover-green :hover{
    background: #28a745 !important;
    opacity: 0.8;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.creation-index .MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded{
    width: 100%
}

.view-table-buttom{
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    margin: 0 1px 10px 1px;
    border-radius: 4px
}

@media (max-width: 767px){
    /* .center{
    margin: none; 
     position: unset; 
     top: 0;
     left: 0;
     transform:none;
     white-space: nowrap;
    } */
}

.avatar{
    text-align: center;
}
