.dash-board-card {
    margin: 5px 0 5px 0;
}

.dash-board-card .card-title {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .125);
}

.modal-data-change div {
    margin: 2px 1px 2px 1px;
}

.filtration-bar,
.dash-board-main{
    border: 1px solid black;
    padding: 15px 10px 0 10px;
    background: white;
    border-radius: 3px;
}

.dash-board-main{
    min-height: 200px;
    position: relative;
}

.card-icon{
    visibility: hidden;
}

.dash-board-card .card-body:hover {
    background: #BFBFBF;
    cursor: pointer;
    filter: grayscale(100%) blur(1px);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.dash-board-card:hover .card-icon{
    z-index: 1;
    cursor: pointer;
    visibility:visible;
}

.card-icon:hover + .card-body{
    background: #BFBFBF;
    filter: grayscale(100%) blur(1px);
}

.MuiTooltip-popper{
    color:red !important;
    font-size: 15px
}
