.alert-danger .Select-control {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.bread-crumb-background .breadcrumb{
    background: #95A5A6;
    border-radius: unset;
    padding: 2px 6px
}

.no-data-found{
    color: rgb(170, 170, 170);
    font-size: 18px
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}